<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><h4>welcome <%=username%></h4></div>
            <div class="col-md-2"><a href="/logout"><button class="btn btn-danger">logout!!</button></a></div>
        </div>
    </section>