<div class="col-md-3">
    <a href="/parking"><button class="btn btn-info form-control mt-2">parking managment</button></a>
    <a href="/add"><button class="btn btn-info form-control mt-2">new entry </button></a>
    <a href="/out"><button class="btn btn-info form-control mt-2">vehicle out managment</button></a>
</div>